span, p, h1, h2, h3, h4 {
    font-family: Lucida Sans Unicode;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 15px;
    font-weight: 100;
}

p {
    font-size: 10px;
}

.bold {
    font-weight: bold;
}

#song-library {
    display: none;
}

#container {
    width: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#main {
    position: relative;
    height: 600px;
}

#canvas-color-picker {
    position: absolute;
    z-index: -1;
}

#top-menu {
    position: relative;
    height: 10%;
}

#top-menu-title {
    z-index: 0;
    position: relative;
    top: 15px;
    display: none;
    text-align: center;
}

#top-menu-recent {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    display: none;
}

#top-menu-recent hr {
    width: 30px;
    height: 3px;
    margin: 0 0 10px 0;
    background-color: white;
    border: 1px solid black;
}

#top-menu-settings {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: none;
}

#top-menu-back {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
    display: none;
}

#content {
    height: 90%;
}

#content-color-picker {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    display: none;
}

#content-color-picker-cursor {
    position: absolute;
    z-index: 2;
    border: 1px solid DarkGray;
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
}

#content-color-picker-textbox {
    width: 100px;
    z-index: 2;
    border: 1px solid gray;
    position: absolute;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    top: 45%;
    left: 35%;
}

#content-recently-played {
    overflow: scroll;
    height: 100%;
    display: none;   
    border-top: 1px solid gray;
}

#content-settings {
    height: 100%;
    display: none;
    overflow: scroll;
    border-top: 1px solid gray;
}

#content-settings-item {
    height: 50px;
    position: relative;
    border-bottom: 1px solid gray;
}

#content-settings-item h4 {
    position: absolute;
    left: 25px;
    top: 12px;
}

#content-start {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}

#content-start-description {
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
}

#content-start-description h4 {
    position: relative;
    top: 20px;
}

#now-playing {
    background-color: black;
    height: 50px;
}

.song {
    height: 50px;
}

.song-art {
    float: left;
    width: 50px;
    height: 50px;
}

.song-info {
    float: left;
    height: 50px;
    width: 198px;
}

.song-info p {
    position: relative;
    left: 10px;
    top: 5px;
}

.play, .pause {
    float: left;
    width: 50px;
    height: 50px;
}

.pause {
    display: none;
}

.recent-song .song  {
    border-bottom: 1px solid DarkGray;
}

.recent-song .song .song-info p {
    color: black;
}

#now-playing .song .song-info p {
    color: white;
}